:root {
    @import '../node_modules/purecss/build/pure.css';
    --themeColorBackground:         #34495e;
    --themeColorBackgroundContrast: #ecf0f1;

    --themeColorBackgroundAlt:         #e67e22;
    --themeColorBackgroundAltContrast: #ecf0f1;

    --themeColorPrimaryBackground:  #2980b9;
    --themeColorPrimaryContrast:    #ecf0f1;
}

.f-row {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    margin: 0;
    padding: 0;
}
.f-col {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 0;
    padding: 0;
}


.f-center {
    align-items: center;
    justify-content: center;
}
